<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chan.mybatis.dao.UserDao">
    <insert id="addUser" parameterType="user" useGeneratedKeys="true" keyProperty="id" databaseId="MySQL">
        INSERT INTO user (username, password)
        VALUES (#{username}, #{password});
    </insert>

    <insert id="addUser" parameterType="user" databaseId="Oracle">
        <selectKey keyProperty="id" order="BEFORE" resultType="Integer">
            SELECT SEQUENCE_USER_ID.nextval FROM dual
        </selectKey>
        INSERT INTO TEST."user" ("id", "username", "password") VALUES (#{id}, #{username}, #{password})
    </insert>

    <select id="selectUserById" resultType="user" databaseId="MySQL">
        select id, username, password
        from user
        where id = #{id}
    </select>

    <select id="selectUserById" resultType="user" databaseId="Oracle">
        Select "id", "username", "password"
        from TEST."user"
        WHERE "id" = #{id}
    </select>

    <select id="selectUserByIdAndUserName" resultType="com.chan.mybatis.pojo.User">
        select id, username, password
        from user
        where id = #{id}
          AND username = #{arg1}
    </select>

    <select id="selectUserByList" resultType="com.chan.mybatis.pojo.User">
        select id, username, password
        from user
        where id = #{list[0]}
    </select>
</mapper>