<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间：和接口名一致 -->
<mapper namespace="com.chan.mybatis.dao.EmployeeMapper">
    <!-- id和接口方法名一致 -->
    <select id="getEmployeeById" resultType="employee">
        select id, last_name, gender, email  from tb_employee where id = #{id}
    </select>
</mapper>